@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Universal connector */

* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  /* reset the font size */
  font-size: 10px;
  /* reset the margin */
  margin: 0;
  padding: 0;
  max-width: 1500px;
}
html {
  box-sizing: border-box;
}
body {
  color: #16191b;
}
/* Nav and top bar for the desktop version */

.hero-background {
  background-color: #3185b0;
  height: 50%;
}

#top-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Logo version */

#top-logo {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.logo-text {
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  position: relative;
  display: flex;
}

.logo-text span {
  font-size: 24px;
  font-weight: normal;
  color: #ffa600;
  margin-left: 5px;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  padding: 20px;
}

header nav ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  color: white;
}

header nav ul li:nth-child(1) a:hover {
  color: #de2a3c;
}
header nav ul li:nth-child(2) a:hover {
  color: #ded82a;
}
header nav ul li:nth-child(3) a:hover {
  color: #de2a3c;
}
header nav ul li:nth-child(4) a:hover {
  color: #ded82a;
}
header nav ul li:nth-child(5) a:hover {
  color: #de2a3c;
}

/* Hero title container */

.hero-background {
  background-image: url(../img/madrid-her0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#hero-title-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#hero-title-container h1,
#hero-title-container h3 {
  text-align: center;
  color: white;
  margin-top: 1%
}

#hero-title-container h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 800;
}

#hero-title-container h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

/* Header logo section  */

#hero-logo-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin: auto 20px;
}

#hero-logo-container img {
  width: 2%;
  margin-top: 20px;
  filter: invert(100%);
}

/* Header hero activites container */

#hero-activities-container {
  display: flex;
  justify-content: center;
}

.sub-hero-activities-container {
  width: 50%;
  margin: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

.sub-hero-activities-container:focus {
  outline: 2px solid blue;
}

.sub-hero-activities-container img {
  max-width: 20%;
}
.sub-hero-activities-container h4 {
  font-weight: 600;
  font-size: 2rem;
}

.sub-hero-activities-container p {
  margin: 20px 0;
  font-size: 1.2rem;
  z-index: 1;
  font-weight: 600;
}


/* Carousel need to be fixed and check if I can reused the code */

.carousel {
  width: 100%;
  height: 300px;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}

#slide1 {
  background-image: url('../img/empty-sea-beach-background.jpg');
}

#slide2 {
  background-image: url('../img/instagram.png');

}

#slide3 {
  background-image: url('../img/plane-logo.png');

}

.active {
  opacity: 1;
}

.buttons-carousel {
  text-align: center;
  z-index: 3;
  margin-top: 20px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 10px;
  border-radius: 50%;
  display: inline-block;
  background-color:white;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.active-dot {
  background-color: #717171;
}

.bar {
  height: 5px;
width: 15px;
margin: 0 2px;
background-color: #717171;
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);
transition: transform 0.6s ease;
}

/* Main section */

#main-section {
  margin: 30px;
}

#main-section h3 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 5%;
  font-weight: 800;
}

.main-section-sub-header {
  font-size: 2rem;
  text-align: center;
  margin: 5%;
}

.sub-main-section-container p{
  font-size: 1.4rem;
  padding: 5%;
  text-align: justify;
}

.sub-main-section-container h5{
  font-size: 2rem;
  color: white;
  text-align: center;
}

.main-section-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Overlay section  */

.sub-main-section-container {
  margin-top: 30px;
  width: 33%;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.sub-main-section-container .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  color: white;
  background-color: rgba(60, 134, 166, 1);
  opacity: 0.8;
  height: 10%;
  width: 100%;
  transition: visibility 0s opacity 0.5s ease 0.5s;

}

.sub-main-section-container:hover .overlay {
  height: 70%;
  opacity: 0.95;
  transition-delay: 0.5s;
  visibility: visible;
}


/* Image in the card are stored in CSS */

.main-background-image1 {
  background-image: url("../img/barcelona-card.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-background-image2 {
  background-image: url("../img/madrid-card.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-background-image3{
  background-image: url("../img/SevillaCard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-background-image4 {
  background-image: url("../img/porto-card.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-background-image5 {
  background-image: url("../img/lisbon-card.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-background-image6{
  background-image: url("../img/faro-card.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* review Section */

.reviews-background {
  background-image: url(../img/empty-sea-beach-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#reviews {
  display: flex;
  align-items: center;
}

#review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#review-container .sub-review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(49, 133, 176, 0.5);
  padding: 20px;
  border-radius: 5px;
}

.sub-review-container {
  width: 50%;
}

.reviews-background {
  background-color: #3185b0;
  height: 500px;
}

#reviews img {
  width: 5%;
  border: #ffffff 5px solid;
  border-radius: 50%;
}

#reviews h4 {
  font-size: 2.4rem;
  color: #ffffff;
}

#reviews p {
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
}

#reviews h5 {
  font-size: 2rem;
  color: #ffffff;
}

#reviews h6 {
  font-size: 1.8rem;
  color: #ded82a;
}

/*activities container */

.activities-header {
  width: 100%;
  text-align: center;
}

.activities-container {
  max-width: 30%;
  height: 200px;
}

#activities h3 {
  font-size: 2rem;
  text-align: center;
  margin-top: 3%;

}

#activities p {
  font-size: 1.8rem;
  margin-top: 20px;
  text-align: center;
  margin-top: 3%;

}


/* Carroussel activities */

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin-top: 3%;

}

.carousel-slide {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-slide img {
  width: 33.33%;
}

.carousel-pagination {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  z-index: 1;
  position: absolute;
  top: 60px;
}

.carousel-pagination-item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-pagination-item.active {
  background-color: black;
}
/* Video section */

#video-container {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  align-items: flex-start;
}

.sub-video-container {
  width: 40%;
}

#video-container h3 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

#video-container h6 {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
}
#video-container p {
  font-size: 1.5rem;
  text-align: justify;
}

#video-container p span {
  font-size: 1.5rem;
  font-weight: 600;
}

/* Footer */

.blue-container {
  background-color: #3185b0;
  height: 300px;
  align-content: center;
}

/* Point on the div to flex all the elemenets */

.blue-container > div {
  display: flex;
  justify-content: center;
}

#footer-logo-container {
  display: flex;
}

#footer-logo-container img {
  width: 3%;
  margin-top: 20px;
  filter: invert(100%);
  padding: 1%;
}

.footer-menu ul {
  display: flex;
  list-style: none;
}

.footer-menu ul li {
  padding: 10px;
}

.footer-menu ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  color: white;
}

.footer-menu ul li:nth-child(1) a:hover {
  color: #de2a3c;
}
.footer-menu ul li:nth-child(2) a:hover {
  color: #ded82a;
}
.footer-menu ul li:nth-child(3) a:hover {
  color: #de2a3c;
}
.footer-menu ul li:nth-child(4) a:hover {
  color: #ded82a;
}
.footer-menu ul li:nth-child(5) a:hover {
  color: #de2a3c;
}
